* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
    background-color: #1A0B2E;
    color:#FFFFFF;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}


/* Header */


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2rem ;
    font-weight: 900;
    padding: 30px 0;
}

.logo span {
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    color: transparent;
}


.desktop-nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 32px;
    font-size: 1rem;
    opacity: .9;
    padding: 36.5px 0;
}

.btn-subscribe {
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}

.hr{
    opacity: .1;
}
.span{
    display: none;
}



/* Hero Section */

.hero {
    text-align: center;
    background-image: url(./assets/hero-bg.png);
    background-repeat:no-repeat;
    background-position: center;
}

.hero-icon-container {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 101px;
}

.podcast-circle {
    width: 350px;
    height: 350px;
    background-image: url(./assets/hero-circle.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.microphone{
    size: 100%;
    margin: 70px 75px 80px;
}


.badge-new {
    position: absolute;
    top: 12px;
    right: 25px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 16px;

    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.hero h1 {
    font-size: 3.75rem;
    font-weight: 900;
    margin-bottom: 8px;
}

.hero-subtitle {
    color: #FFFFFF;
    font-size: 1rem;
    opacity: .8;
    margin-bottom: 24px;
}

.hero-btns button {
    padding: 12.5px 20px ;
    border-radius: 30px;
    margin-bottom: 50px;
    cursor: pointer;
    font-weight: 600;
    gap: 8px;
    font-size: 1rem;
}


.btn-spotify {
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    color: #FFFFFF;
}

.btn-outline {
    align-items: center;  
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}



/* About-Section */

.small-container {
    max-width: 800px;
    text-align: center;
}
.about h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about p{
    font-size: 1rem;
    opacity: .8;
    line-height: 20px;
}
#about-p{
    margin-bottom: 80px;
}

.hr-about{
    max-width: 1200px;
    margin: 0 auto;
    opacity: .1;
}


/* Rating Section */
.Rating {
    margin: 80px auto 120px;   /* ← center section */
    max-width: 1200px;         /* ← grid width limit */
    padding: 0 20px;
}

.Rating-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 80px;
    justify-content: center;
}

.Rating-item h3 {
    font-size: 3rem;
    color: #00FF88;
    padding-bottom: 16px;

}

.Rating-item p {
    font-size: 1rem;
    color: #FFFFFF;
    opacity: .8;
}


/* Features Section */
.features {
    background-color: #230E3D;
    padding: 120px 200px;
}

.section-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 60px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(180px, auto);
    gap: 20px;
}

.feature-card {
    background: #351165;
    padding: 30px;
    border-radius: 15px;
}

.f-icon {
    margin-bottom: 15px;
}

.feature-card h4 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-card p {
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    opacity: .6;
    margin-top: 16px;
}

.card-1 {
    background-color: #351165;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.card-2 {
    background-color: #351165;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.card-3 {
    background-color: #351165;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.card-4 {
    background-color: #351165;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.card-5 {
    background-color: #351165;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

