* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
    background-color: #1A0B2E;
    color:#FFFFFF;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}


/* Header */


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2rem ;
    font-weight: 900;
    padding: 30px 0;
}

.logo span {
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    color: transparent;
}


.desktop-nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 32px;
    font-size: 1rem;
    opacity: .9;
    padding: 36.5px 0;
}

.btn-subscribe {
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}

.hr{
    opacity: .1;
}
.span{
    display: none;
}
